
<ion-header>
  <ion-toolbar color="favorite">
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Test circular {{'signPage.beaconsScanner' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- progressbar -->
  <ion-progress-bar type="indeterminate" [style.display]="scanStatus ? 'block' : 'none'"></ion-progress-bar>

  <ion-item-divider color="primary">
    <ion-label style="max-width: 290px;">
      <b>{{scanStatus ? ('signPage.scanNearby' | translate) : ('signPage.startScan' | translate) }}</b>
    </ion-label>
    <ion-spinner name="lines-small" color="light" [style.display]="scanStatus ? 'block' : 'none'"></ion-spinner>
  </ion-item-divider>

  <ion-card *ngFor="let beacon of beaconsList; let i = index ">
    <ion-card-content  style="padding: 2px;">
      <ion-button (click)="testBtn()" style="display: none;" id="testinIds">Refresh</ion-button>
      <ion-item>
        <ion-label>
        <div [ngStyle]="{'background-color':  beacon.active ? 'green' : 'red'}" class="status-dot">
        </div>
        <h2 style="margin: 0 16px;">{{localize.isEnglish() ? beacon.nameFl : beacon.nameSl}}</h2>
        </ion-label>
        <ion-label item-end style="text-align: right;">{{'signPage.rssi' | translate}} : {{beacon.rssi}}</ion-label>
      </ion-item>
      <ion-item-divider style="min-height: 1px; "> </ion-item-divider>
      <ion-item>
        <ion-label><b>{{'signPage.uuid' | translate}} </b> <br> {{beacon.uuid}}</ion-label>
      </ion-item>
      <ion-item *ngIf="beacon.active" >
        <ion-label class="text-center">
          <ion-button  (click)="selectBeacon(beacon)" color="success">
            <ion-icon name="checkmark-outline" slot="end"></ion-icon>
            {{ 'Data.Activate' | translate}}
          </ion-button>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

    <ion-fab *ngIf="beaconsList !== null && beaconsList.length > 0" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button [color]='scanStatus ? "danger" : "primary"' (click)="onScanClicked()">
        <ion-icon [name]='scanStatus ? "pause-sharp" : "play-sharp"' style="font-size: 25px;"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-content>
