<ion-header>
  <ion-toolbar color="favorite" class="ion-text-center">
    <ion-title class="title"> SmartIN
      <ion-icon ios="logo-apple" md="logo-android"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="center-content">
    <div class="logo">
      <img src="/assets/logo.jpeg" alt="logo" />
    </div>
    <div class="form">
      <!-- <h4 class="form-header"> Reset Password</h4> -->
      <form #f="ngForm" (ngSubmit)="f.form.valid && resetPassword()"
      [appMatchPassword]="['newPassword', 'newPasswordConfirm']" novalidate>
    
        <div class="form-input">
          <ion-label position="stacked">{{ 'Data.NewPassword' | translate }}</ion-label>
          <ion-item transparent>
            <ion-input 
            [type]="newPasswordType"
             [(ngModel)]="model.newPassword" name="newPassword" #newPassword="ngModel"
                pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" 
                [ngClass]="{ 'is-invalid': f.submitted && newPassword.invalid }"
                placeholder="{{ 'Data.NewPassword' | translate }}" required>
            </ion-input>
            <ion-icon name="bag-outline" size="small" slot="start"></ion-icon>
            <ion-icon item-end [name]="newPasswordIcon" class="passwordIcon" 
            (click)='hideShowPassword(2)'></ion-icon>
          </ion-item>
          <div class="error-danger"  *ngIf="f.submitted && newPassword.errors?.required">
            <p>
              {{ 'Data.FieldRequired' | translate}}
            </p>
          </div>
          <div class="error-danger"  *ngIf="model.newPassword !== '' && newPassword.errors?.pattern">
            <p>
              {{ 'Data.notValid' | translate}}
            </p>
          </div>
        </div>

        <div class="form-input">
          <ion-label position="stacked">{{ 'Data.ConfirmPassword' | translate }}</ion-label>
          <ion-item transparent>
            <ion-input
             [type]="confirmPasswordType"
              [(ngModel)]="model.newPasswordConfirm" name="newPasswordConfirm"
              #confirmNewPassword="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && confirmNewPassword.invalid }"
              placeholder="{{ 'Data.ConfirmPassword' | translate }}" required>
            </ion-input>
            <ion-icon name="bag-outline" size="small" slot="start"></ion-icon>
            <ion-icon item-end [name]="confirmPasswordIcon" class="passwordIcon" 
            (click)='hideShowPassword(3)'></ion-icon>
          </ion-item>
          <div class="error-danger"   *ngIf="f.submitted && confirmNewPassword.errors?.required">
            <p>
              {{ 'Data.FieldRequired' | translate}}
            </p>
          </div>
          <div class="error-danger"   *ngIf="confirmNewPassword.touched && confirmNewPassword.errors?.passwordMismatch">
            <p>
              {{ 'Data.PasswordMismatchMessage' | translate}}
            </p>
          </div>
        </div>
        <ion-button  shape="round" fill="solid"type="submit"
          class="submit-btn"
          color="danger"
          expand="block"  [disabled]="newPassword.errors || confirmNewPassword.errors " >{{ 'Data.Change' | translate}}
        </ion-button>    
      </form>  
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="favorite" class="ion-text-center">
    <p>{{ 'Data.copy' | translate }}{{year}}-{{ 'Data.Rights' | translate }}</p>
  </ion-toolbar>
</ion-footer>
