.my-requests-wrap {
  padding-left: 15px;
  padding-right: 15px;

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card-items {
    .item-wrap {
      border: 2px solid #e7eef8;
      border-radius: 8px;
      padding: 15px;
      height: 160px;

      .icon-wrap {
        text-align: right;
        .notification-icon {
          padding: 10px;
          line-height: 10px;
          border-radius: 50%;
          background-color: #e7eef8;
          display: inline-block;
          position: relative;


          ion-icon {
            color: #abbbcf;
          }

          &.active {
            //position: relative;
            background-color: rgba(#e84855, 0.15);

            ion-icon {
              color: #e84855;
            }
            .notifi-badge {
              position: absolute;
              top: 0px;
              right: 0px;
              font-size: 10px;
              border-radius: 11px;
            }
            .active-dot {
              position: absolute;
              right: 20%;
              top: 25%;
              background-color: #e84855;
              width: 5px;
              height: 5px;
              border-radius: 50%;
            }
          }
        }
      }

      .item-icon {
        width: 40px;
        height: 40px;
      }

      .title {
        margin-top: 10px;
        color: #434343;
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }
}

.my-requests-wrap.lang-ar {
  .icon-wrap {
    text-align: left !important;
    .notification-icon {
      &.active {
        .notifi-badge {
          left: 0px;
          right: unset !important;
        }
      }
    }
  }
}

ion-label, ion-button{
  text-transform: initial;
}
