<div
  class="attendance-item-wrap present"
  [ngClass]="{ 'lang-ar': !localize.isEnglish() }"
>
  <div (click)="toggleExpand()" class="mini-content">
    <div class="header d-flex">
      <p class="m-0">{{ localize.isEnglish() ? item.leaveNameFl :item.leaveNameSl }}</p>
      <span class="status present">{{ localize.isEnglish() ? item.leaveTypeFl :item.leaveTypeSl }}</span>
      <div class="expand-icons" [ngClass]="{ expanded: isExpanded }">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
    <div class="content d-flex">
      <p class="m-0">
        <ion-icon class="icon" name="person" ></ion-icon>        
        {{ item?.employeeNumber }} - {{ localize.isEnglish() ? item?.employeeNameFl : item?.employeeNameSl }}
      </p>
    </div>
    <hr />
    <div class="content d-flex">
      <p class="m-0">
        <ion-icon class="icon" name="business-outline"></ion-icon>
        <span  class="name"> {{ localize.isEnglish() ? item.administrationFl :item.administrationSl }}</span>
      </p>
    </div>

    <hr />

    <div class="content d-flex">
    
      <div class="permission-date from">
        <p class="title m-0">{{ 'Data.StartDate' | translate }}</p>
        <p class="date mt-5 mb-5">{{ item?.startDate | localizedDate}}</p>
      </div>

      <div class="permission-date from">
        <p class="title m-0">{{ 'Data.EndDate' | translate }}</p>
        <p class="date mt-5 mb-5">{{ item?.endDate | localizedDate }}</p>
      </div>
      <div class="permission-date from">
        <p class="title m-0">{{ 'Data.NoOfDays' | translate }}</p>
        <p class="date mt-5 mb-5">{{ item?.dayNumber }}  {{ 'Data.day' | translate }}</p>
      </div>
    </div>

    <div class="expanded-content" [ngClass]="{ expanded: isExpanded }">


       <ion-grid>
        <ion-row>
          <ion-col size="6">
            <div class="permission-date from">             
              <p class="title m-0">{{ 'Data.payedDay' | translate }}</p>
              <p> {{ item?.payedDay }}  {{ 'Data.day' | translate }}</p>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="permission-date to">
              <p class="title m-0">{{ 'Data.unPayedDay' | translate }}</p>
              <p>{{ item?.unPayedDay }}  {{ 'Data.day' | translate }}</p>
            </div>
          </ion-col>

        
          <ion-col size="6">
            <div class="permission-date to" *ngIf="item?.unPayedDay>0">
              <p class="title m-0">{{ 'Data.unPayedStartDate' | translate }}</p>
              <p>{{  item?.unPayedStartDate | localizedDate}}</p>
            </div>
          </ion-col>


        
         
        </ion-row>
      </ion-grid>

     

      
    </div>
  </div>
</div>
