<div
  class="attendance-item-wrap present"
  [ngClass]="{ 'lang-ar': !localize.isEnglish() }"
>
  <div (click)="toggleExpand()" class="mini-content">
    <div class="header d-flex">
      <p class="m-0">{{ item.timeEntry | localizedDate : true}} </p>

      <div class="expand-icons" [ngClass]="{ expanded: isExpanded }">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
    <div class="content d-flex">    
      <span class="time">
        <span class="text-dimmed title">{{ 'Data.LogType' | translate }}</span>
        <span class="time" [ngClass]="item?.logTypeNameFl">{{ localize.isEnglish() ? item?.logTypeNameFl :item?.logTypeNameSl }}</span>
      </span>
      <span class="status present">{{ localize.isEnglish() ? item?.remarkFl :item?.remarkSl }}</span>
    </div>
    <div class="expanded-content" [ngClass]="{ expanded: isExpanded }">
      <hr />
      <div class="permission-date from">
        <p class="title m-0">{{ 'Data.Image' | translate }}</p>
        <p>
          <img [src]="item.actionImage?item.actionImage:'/assets/images/user.jpg'" alt="shot image" />
        </p>
      </div>
    </div>
  </div>
</div>
