.attendance-wrap {
  padding-left: 15px;
  padding-right: 15px;

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 1;
    background: white;
  }

  .icons {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;

    .filter-icon {
      margin-right: 10px;
      margin-left: 10px;
    }

    .icon {
      color: #e84855;
      background-color: #fce5e7;
      padding: 10px;
      border-radius: 50%;
      border: 1px solid #e84855;
      display: flex;
      justify-content: center;
      align-items: center;

      ion-icon {
        zoom: 1.5;
      }
    }
  }
}
.action-btns {
  margin-top: 30px;
  .btn {
    width: 100%;
  }
}
.attendance-wrap {
  .card {
    padding: 30px;
    border-radius: 5px;
    color: #ffffff;

    &.success {
      background-color: #62cd68;
    }

    &.danger {
      background-color: #e84855;
    }

    .mark-icon {
      text-align: center;
    }
  }

  .attendance-item-wrap {
    border-left: 2px solid #abbbcf;

    .mini-content {
      position: relative;
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(194, 213, 237, 0.3),
      0 6px 20px 0 rgba(194, 213, 237, 0.3);

      .header {
        margin-bottom: 10px;
        .title p {
          margin-left: 5px;
          margin-right: 5px;
        }
      }

      .content {
        font-size: 0.8rem;
        .name {
          margin-left: 10px;
          margin-right: 10px;
        }
        .name-time {
          &.present {
            color: #147ad6;
          }
          &.absence {
            color: #e84855;
          }
          &.restDay {
          }
          &.lateIn {
            color: #e84855;
          }
          &.earlyOut {
            color: #e84855;
          }
          &.weekend {
            background-color: #646464;
          }
        }
        .name,
        .icon {
          color: #8594a7;
        }
        .status {
          padding: 5px 10px;
          border-radius: 15px;
          font-size: 0.8rem;
          &.present {
            color: #147ad6;
            background-color: #147ad630;
          }
          &.absence {
            color: #e84855;
            background-color: #e8485530;
          }
          &.restDay {
            background-color: #fdc01c;
          }
          &.lateIn {
            color: #e84855;
            background-color: #e8485530;
          }
          &.earlyOut {
            color: #e84855;
            background-color: #e8485530;
          }
          &.weekend {
            background-color: #646464;
          }
        }
      }

      .expand-icons {
        transition: all 0.2s ease-in-out;

        &.expanded {
          transform: rotate(90deg);
        }
      }
    }

    .expanded-content {
      overflow: hidden;
      padding: 0;
      height: 0;
      transition: all 0.2s ease-in-out;

      &.expanded {
        height: auto;
        padding: 15px;
      }

      hr {
        background-color: #abbbcf45;

        height: 2px;
      }

      .permission-date {
        .title {
          color: #8594a7;
          p.date {
            color: #147ad6;
          }
        }
        img {
          max-height: 222px;
        }
      }

      .details {
        background-color: #e7eef88c;
        padding: 15px;
        border-radius: 5px;
      }

      .leader {
        align-items: flex-end;
        .avatar {
          width: 50px;
          height: 50px;
          border-radius: 100%;
          overflow: hidden;
        }

        .text {
          margin-right: auto;
          margin-left: 15px;
          .date {
            color: #97aac2;
            font-size: 0.8rem;
          }
        }
      }

      .creation-date {
        color: #434343;
        text-align: center;
        font-size: 0.75rem;
        margin-top: 15px;
      }
    }
    .text-center {
      text-align: center;
    }
  }

  .attendance-item-wrap.lang-ar {
    .leader {
      .text {
        margin-right: 15px !important;
        margin-left: auto !important;
      }
    }
  }

  .attendance-item-wrap.lang-ar {
    .mini-content {
      .expand-icons {
        &.expanded {
          transform: rotate(-90deg);
        }
      }
    }
  }
}
