<ion-header class="ion-no-border">
  <ion-toolbar class="main-header">
    <ion-buttons [slot]="base.isEnglish() ? 'start' : 'end'">
      <ion-back-button
        defaultHref="/home/requests/manager-part-day"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Data.ApproveRequest' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-grid *ngIf="isLoading">
          <ion-row>
            <ion-col class="ion-text-center">
              <p>{{'Data.loading' | translate}}</p>
              <ion-spinner color="primary" name="lines"></ion-spinner>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-row *ngIf="noDataFound">
          <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
            <p>{{ 'Data.noDataMsg' | translate}} </p>
          </ion-col>
        </ion-row>
        <div *ngIf="!isLoading && !noDataFound">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item lines="none" class="mt-2 mb-2">
                  <!-- <ion-avatar slot="start">
                    <img src="assets/images/user.jpg" />
                  </ion-avatar> -->
                  <ion-label class="summary-title">
                    {{ model?.employeePermissionDto?.employeeNumber }} -
                    {{ base.isEnglish() ? model?.employeePermissionDto?.employeeNameFl : model?.employeePermissionDto?.employeeNameSl }}
                    <!-- <p>
                      <small>{{ base.isEnglish() ? model?.administration?.administrationFl :
                        model?.administration?.administrationSl }}
                      </small>
                    </p> -->
                    <p>
                      {{ model?.employeePermissionDto?.startDate | localizedDate }}
                    </p>
                  </ion-label>
                  <ion-text *ngIf="model?.requestApproverHistoryList">
                    <h4  class="status"[ngClass]="(model?.requestApproverHistoryList[0].workflowStatusNameFl+'' | splitwhitespaces)  + 'Request'" >
                      <ion-icon [name]="model?.requestApproverHistoryList[0].workflowStatusId == workflowStatus.Approve ? 
                          'checkmark-done-outline' : 
                          model?.requestApproverHistoryList[0].workflowStatusId == workflowStatus.Reject? 
                          'close-outline' : 'hourglass-outline'"
                          [ngClass]="(model?.requestApproverHistoryList[0].workflowStatusNameFl+'' | splitwhitespaces) + 'Request'">
                      </ion-icon>
                        {{ base.isEnglish() ? model.requestApproverHistoryList[0].workflowStatusNameFl
                        : model.requestApproverHistoryList[0].workflowStatusNameSl }}
                    </h4>
                  </ion-text>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>       
          <ion-segment (ionChange)="segmentChanged($event.target)" value="1">
            <ion-segment-button value="1">
              <ion-label>{{ 'Data.Summary' | translate }}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="2">
              <ion-label>{{ 'Data.Details' | translate }}</ion-label>
            </ion-segment-button>
          </ion-segment>
          <div class="card-items" *ngIf="segmentValue == true">
            <ng-container>
              <div class="mt-15">
                
                <div class="text-center summary">
                  <ion-label>
                    {{ base.isEnglish() ? model?.employeePermissionDto?.partialPermissionFl :
                    model?.employeePermissionDto?.partialPermissionSl }}
                  </ion-label>
                </div>
                <div class="text-center summary">
                  <ion-label color="favorite">
                    <ion-icon name="time-outline" slot="start" class="mx-1" color="primary">
                    </ion-icon>
                    {{ model?.employeePermissionDto?.startTime | timeSpanPipe}} -
                    {{ model?.employeePermissionDto?.endTime | timeSpanPipe}}
                  </ion-label>
                </div>
                <ion-row class="text-center mt-2" *ngIf="model?.requestApproverHistoryList">
                  <ion-col class="ion-no-padding">
                    <ion-item *ngIf="!model?.requestMainData?.isHistory">
                      <ion-label position="floating" color="medium">
                        {{ 'Data.Note' | translate}}:
                      </ion-label>
                      <ion-input type="text" [(ngModel)]="approveDto.comment" name="comment">
                      </ion-input>
                    </ion-item>
                    <ion-item lines="none" class="text-center item-btn" *ngIf="!model?.requestMainData?.isHistory">
                      <ion-button (click)="approve(true)" expand="block" color="success">
                        <ion-icon name="checkmark-outline" slot="start"></ion-icon>
                        {{ 'Data.Approve' | translate}}
                      </ion-button>
                      <ion-button (click)="approve(false)" expand="block" color="danger">
                        <ion-icon name="close-outline" slot="start"></ion-icon>
                        {{ 'Data.Decline' | translate}}
                      </ion-button>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <app-request-approve-history [item]="model"></app-request-approve-history>
              </div>
            </ng-container>
          </div>
          <div *ngIf="segmentValue == false" class="mt-2">
            <ion-row class="text-center">
              <ion-col size="6" class="ion-no-padding">
                <ion-item lines="none" class="text-center">
                  <ion-label>{{ 'Data.PermissionType' | translate}}</ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="6" class="ion-no-padding">
                <ion-item lines="none" class="text-center">
                  <ion-label>
                    {{ base.isEnglish() ? model?.employeePermissionDto?.partialPermissionFl :
                    model?.employeePermissionDto?.partialPermissionSl }}
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row class="text-center">
              <ion-col size="6" class="ion-no-padding">
                <ion-item lines="none" class="text-center">
                  <ion-label>{{ 'Data.Date' | translate}}</ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="6" class="ion-no-padding">
                <ion-item lines="none" class="text-center">               
                  <ion-label >{{ model?.employeePermissionDto?.startDate | localizedDate }}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row class="text-center">
              <ion-col size="6" class="ion-no-padding">
                <ion-item lines="none" class="text-center">
                  <ion-label>{{ 'Data.Comment' | translate}}</ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="6" class="ion-no-padding">
                <ion-item lines="none" class="text-center">
                  <ion-label>
                    {{ model?.employeePermissionDto?.comment }}
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row class="text-center">
              <ion-col size="6" class="ion-no-padding">
                <ion-item lines="none" class="text-center">
                  <ion-label>{{ 'Data.PermissionType' | translate}}</ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="6" class="ion-no-padding">
                <ion-item lines="none" class="text-center">
                  <ion-label>
                    {{ base.isEnglish() ? model?.employeePermissionDto?.permissionTimeNameFl :
                    model?.employeePermissionDto?.permissionTimeNameSl }}
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row class="text-center">
              <ion-col size="6" class="ion-no-padding">
                <ion-item lines="none" class="text-center">
                  <ion-label>{{ 'Data.From' | translate}}</ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="6" class="ion-no-padding">
                <ion-item lines="none" class="text-center">
                  <ion-label>{{ model?.employeePermissionDto?.startTime | timeSpanPipe}}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row class="text-center">
              <ion-col size="6" class="ion-no-padding">
                <ion-item lines="none" class="text-center">
                  <ion-label>{{ 'Data.To' | translate}}</ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="6" class="ion-no-padding">
                <ion-item lines="none" class="text-center">
                  <ion-label>{{ model?.employeePermissionDto?.endTime | timeSpanPipe}}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row class="text-center">
              <ion-col size="6" class="ion-no-padding">
                <ion-item lines="none" class="text-center">
                  <ion-label>{{ 'Data.Duration' | translate}}</ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="6" class="ion-no-padding">
                <ion-item lines="none" class="text-center">
                  <ion-label>{{ model?.employeePermissionDto?.permissionDuration }}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>