.dashboard-wrap {
  margin-bottom: 12rem;
  hr {
    background-color: #abbbcf45;
  }
}


.icons {
  display: flex;
  align-items: center;
  //margin-top: 15px;
  //margin-bottom: 15px;

  .filter-icon {
    margin-right: 10px;
    margin-left: 10px;
  }

  .icon {
    color: #e84855;
    background-color: #fce5e7;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #e84855;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-icon {
      zoom: 1.5;
    }
  }
}
.attendance-absence{
  padding-bottom: 12px;
}

.dashboard-wrap hr{
  background-color: #f5afb8;
  height: 2px;
}

